# ─────────────────────────────────────────────
#  FraudGuard UAN — Variables de entorno
#  Copia este archivo como .env y ajusta los valores
# ─────────────────────────────────────────────

# MySQL
MYSQL_ROOT_PASSWORD=root1234
MYSQL_DATABASE=fraudguard
MYSQL_USER=frauduser
MYSQL_PASSWORD=fraud1234

# RabbitMQ
RABBITMQ_USER=fraudguard
RABBITMQ_PASS=rabbit1234

# JWT — cámbialo en producción
JWT_SECRET=fraudguard_secret_key_2026
